@page
@model controleJornadas.Pages.JornadasCRUD.DetailsModel

@{
    ViewData["Title"] = "Detahes da jornada";
    Layout = "_Layout";
}


<div>
    <h4>Detalhes da Jornada: @Model.Jornadas.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jornadas.HrInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jornadas.HrInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jornadas.HrFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jornadas.HrFim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jornadas.Turno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jornadas.Turno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jornadas.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jornadas.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jornadas.Funcionario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jornadas.Funcionario.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Jornadas.Id">Alterar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
