@page
@model controleJornadas.Pages.JornadasCRUD.IndexModel

@{
    ViewData["Title"] = "Jornadas";
    Layout = "_Layout";
}

<p>
    <a asp-page="Create">Nova Jornada</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jornadas[0].HrInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jornadas[0].HrFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jornadas[0].Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jornadas[0].Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jornadas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HrInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HrFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Alterar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Alterar</a>
            </td>
        </tr>
}
    </tbody>
</table>
