@page
@model controleJornadas.Pages.BasesCrud.DetailsModel

@{
    ViewData["Title"] = "Detalhes Filiais";
}


<div>
    <h4>Detalhes Filial @Model.Bases.Sigla</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bases.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bases.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bases.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bases.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bases.Sigla)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bases.Sigla)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bases.Id">Edit</a> | <a asp-page="./Index">Voltar</a>

</div>
