@page
@model controleJornadas.Pages.BasesCrud.IndexModel

@{
    ViewData["Title"] = "Filiais";
    Layout = "_Layout";
}

<p style="text-align:right">
    <a class="btn btn-success" asp-page="Create">Nova Filial</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bases[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bases[0].Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bases[0].Sigla)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bases)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sigla)
                </td>
                <td style="width:20%">
                    <a asp-page="./Edit" asp-route-id="@item.Id">Alterar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
