@page
@model controleJornadas.Pages.FuncionariosCrud.DetailsModel

@{
    ViewData["Title"] = "Detalhes do Funcionário";
    Layout = "_Layout";
}


<div>
    <h4>Funcionários</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.funcionarios.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.funcionarios.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.funcionarios.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.funcionarios.Cargo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.funcionarios.DataAdmissao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.funcionarios.DataAdmissao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.funcionarios.CodPix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.funcionarios.CodPix)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.funcionarios.Id">Alterar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
