@page
@model controleJornadas.Pages.FuncionariosCrud.IndexModel

@{
    ViewData["Title"] = "Funcionários";
}

<p>
    <a asp-page="Create">Novo Funcionário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.funcionarios[0].nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcionarios[0].cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcionarios[0].dataAdmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcionarios[0].codPix)
            </th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcionarios[0].BasesId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.funcionarios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataAdmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codPix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasesId)
             </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Alterar</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
