@page
@model controleJornadas.Pages.FuncionariosCrud.IndexModel

@{
    ViewData["Title"] = "Funcionários";
    Layout = "_Layout";
}

<p>
    <a asp-page="Create">Novo Funcionário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.funcionarios[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcionarios[0].Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcionarios[0].DataAdmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcionarios[0].CodPix)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.funcionarios[0].Base.Sigla)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.funcionarios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Base.Sigla)
             </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Alterar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
